<section class="section" [dir]="direction">
  <div class="bigMain" fxLayout>
    <h3 class="fontY">
      {{ dialog_title  }} 
    </h3>
    <img (click)="onCancel()" class="cancel_Img" src="../../../../assets/images/svg/close.png" alt="">
  </div>


  <form class="Main" [dir]="direction"  >
    <div class="container">
      <mat-grid-list
        [cols]="breakpoint"
        rowHeight="105px"
        (window:resize)="onResize($event)"

      >
      <mat-grid-tile >
        <mat-form-field appearance="fill">
          <mat-label>Campaign</mat-label>
          <mat-select
            [(ngModel)]="dummy.campId"
            
            [ngModelOptions]="{standalone: true}"
            
          >
            <mat-option
              *ngFor="let choice of camps"
              [value]="choice.id"
              
            >
              {{ choice.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
     
     
      <mat-grid-tile >
        <div>
          <mat-form-field  appearance="outline">
            <mat-label>Date</mat-label>
            <input
              matInput
              [(ngModel)]="dummy.date"
              name="plannedStartDate"
              type="date"
              placeholder="Date"
            />
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile >
        
        <mat-form-field  appearance="outline">
          <mat-label>Remarks</mat-label>
          <textarea
            matInput
            rows="2"
            [(ngModel)]="dummy.remarks"

            name="remarks"
            type="text"
            placeholder="Type some text"
          ></textarea>


        </mat-form-field>
      </mat-grid-tile>
    
      
      
    <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Currency</mat-label>
          <mat-select
            [(ngModel)]="dummy.currencyId"
            
            [ngModelOptions]="{standalone: true}"
            
          >
            <mat-option
              *ngFor="let choice of campCurrency"
              [value]="choice.id"
              
            >
              {{ choice.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile >
        
          <mat-form-field   appearance="outline">
            <mat-label>Amount</mat-label>
            <input
              matInput
              [(ngModel)]="dummy.amount"
              name="amount"
              type="number"

              #pwInput="ngModel"
              placeholder="Number"
              keyboardType="string"
            />


          </mat-form-field>

      </mat-grid-tile>
      
      </mat-grid-list>
    </div>
    
  </form>
  <div class="btn-container">
    <button class="BtnC" (click)="onCancel()" mat-button color="warn" type="submit">{{cancel}}</button>
    <button class="BtnS" (click)="onSubmit()" mat-button color="primary" type="submit">{{submit}}</button>
  </div>
</section>

