
<section class="section" [dir]="direction">
  <div class="bigMain" fxLayout>
    <h3 class="fontY">
      {{ dialog_title2  }} 
    </h3>
    <img (click)="onCancel()" class="cancel_Img" src="../../../../assets/images/svg/close.png" alt="">
  </div>


  <form  [dir]="direction"  >
    
    
    
      <ngx-skeleton-loader  *ngIf="workShimmer" class="skeleton" count="5" appearance="circle" [theme]="{ 
        'border-radius': '5px',
        height: '30px',
        width: '250px',
        border: '1px solid white'
      }"></ngx-skeleton-loader>
        
      <div class="memCon" *ngIf="!workShimmer">
  
        
          <div  *ngFor="let mem of members">
            
            <div class="mem">
              <div>{{mem.memberName}}</div>
              <button *ngIf="mem.memberId != 0"  class="remove_btn" mat-button color="primary" (click)="onRemoveMem(mem.memberId)"><mat-icon >remove</mat-icon></button>
    
            </div>
            
          
        </div>
        </div>
      
    
        

                
              
      
  
    
  </form>
  <!-- <div class="btn-container">
    <button class="BtnC" (click)="onCancel()" mat-button color="warn" type="submit">{{cancel}}</button>
    <button class="BtnS" (click)="onSubmit()" mat-button color="primary" type="submit">{{submit}}</button>
  </div> -->
</section>



